body {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  font-family: 'Roboto', 'sans-serif';
  background: #242423;
  background-repeat: no-repeat;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0060b1;
  width: 100%;
  color: #fff;
}

h1 {
  text-shadow: 0 0 1rem #E35214;
}

h3 {
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
}

h4 {
  font-size: 1.2rem;
  margin: 0;
}

label {
  font-weight: bold;
  padding-bottom: 0.3rem;
}

.header-icon {
  padding-right: 1rem;
}

.primary-button-container {
  padding-bottom: 1rem;
  width: 100%;
}

.primary-button {
  justify-content: center;
  width: 100%;
}

.register-form {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 7rem;
  background: #f9f9f9;
  border-radius: 0.5rem;
  border: solid #E35214;
  color: #313638;
  box-shadow: rgba(0, 0, 0, 0.24) 0 0.188rem 0.5rem;
}

.horizontal-line {
  background-color: #000;
}

.form-content {
  padding: 2rem 2rem 0 2rem;
  justify-content: space-between;
}

.login-form-header {
  color: #0060b1;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.standard-input-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

.standard-input {
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  color: #000;
  background-color: #7e7e7e1a;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  font-family: 'Roboto';
  border: none;
  width: 100%;
}

.standard-input:hover {
  background-color: #c2c2c21a;
}

.standard-input::placeholder {
  font-size: 1.2rem;
}

.input-icon-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.standard-input-icon {
  position: absolute;
  padding-left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.create-account-container {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.create-account-header {  
  color: #0060b1;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.create-account-button-container {
  display: flex;
  padding-bottom: 1rem;
}

.create-account-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.40rem;
  font-family: 'Roboto';
  border-radius: 0.3rem;
  border: solid #000 0.1rem;
  font-size: 1.2rem;
  background-color: #7e7e7e1a;
  font-weight: 600;
}

.create-account-button:hover {
  background-color: #c2c2c21a;
}

.success-message {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 2rem;
  padding: 0.2rem;
  align-items: center;
  border-radius: 0.2rem;
  background-color: rgba(0, 0, 0, 0.774);
  color: #fff;
}

.success-icon {
  width: 2rem;
  padding-left: 0.3rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  color: #fff;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-name {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  margin: 0
}

.icon-git {
  width: 3rem;
  padding-left: 1rem;
  transition: all 0.1s ease-in-out;
}

.icon-git:hover {
  transform: scale(1.08);
}